{% extends "profesor/base_profesor.html" %}
{% load static %}

{% block header_right%}
<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Bienvenido {{ nombre_profesor }} {{ apellido_profesor }}</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li class="active">Dashboard</li>
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock header_right %}

{% block main_right %}

                    <div class="col-sm-12 mb-4">
                        <div class="card-group">
                            <div class="card col-lg-2 col-md-6 no-padding bg-flat-color-1">
                                <div class="card-body">
                                    <div class="h1 text-muted text-right mb-4">
                                        <i class="fa fa-users text-light"></i>
                                    </div>

                                    <div class="h4 mb-0 text-light">
                                        <span class="count">87500</span>
                                    </div>
                                    <small class="text-uppercase font-weight-bold text-light">NºAlumnos</small>
                                    <div class="progress progress-xs mt-3 mb-0 bg-light" style="width: 40%; height: 5px;"></div>
                                </div>
                            </div>
                            <div class="card col-lg-2 col-md-6 no-padding no-shadow">
                                <div class="card-body bg-flat-color-2">
                                    <div class="h1 text-muted text-right mb-4">
                                        <i class="fa fa-user-plus text-light"></i>
                                    </div>
                                    <div class="h4 mb-0 text-light">
                                        <span class="count">385</span>
                                    </div>
                                    <small class="text-uppercase font-weight-bold text-light">Alumnos 100%</small>
                                    <div class="progress progress-xs mt-3 mb-0 bg-light" style="width: 40%; height: 5px;"></div>
                                </div>
                            </div>
                            <div class="card col-lg-2 col-md-6 no-padding no-shadow">
                                <div class="card-body bg-flat-color-3">
                                    <div class="h1 text-right mb-4">
                                        <i class="fa fa-sitemap text-light"></i>
                                    </div>
                                    <div class="h4 mb-0 text-light">
                                        <span class="count">1238</span>
                                    </div>
                                    <small class="text-light text-uppercase font-weight-bold">Total Cursos</small>
                                    <div class="progress progress-xs mt-3 mb-0 bg-light" style="width: 40%; height: 5px;"></div>
                                </div>
                            </div>
                            <div class="card col-lg-2 col-md-6 no-padding no-shadow">
                                <div class="card-body bg-flat-color-5">
                                    <div class="h1 text-right text-light mb-4">
                                        <i class="fa fa-pie-chart"></i>
                                    </div>
                                    <div class="h4 mb-0 text-light">
                                        <span class="count">28</span>%
                                    </div>
                                    <small class="text-uppercase font-weight-bold text-light">% Semestre</small>
                                    <div class="progress progress-xs mt-3 mb-0 bg-light" style="width: 40%; height: 5px;"></div>
                                </div>
                            </div>
                            <div class="card col-lg-2 col-md-6 no-padding no-shadow">
                                <div class="card-body bg-flat-color-4">
                                    <div class="h1 text-light text-right mb-4">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <div class="h4 mb-0 text-light">5:34:11</div>
                                    <small class="text-light text-uppercase font-weight-bold">Horas de clase</small>
                                    <div class="progress progress-xs mt-3 mb-0 bg-light" style="width: 40%; height: 5px;"></div>
                                </div>
                            </div>
                            <div class="card col-lg-2 col-md-6 no-padding no-shadow">
                                <div class="card-body bg-flat-color-1">
                                    <div class="h1 text-light text-right mb-4">
                                        <i class="fa fa-comments-o"></i>
                                    </div>
                                    <div class="h4 mb-0 text-light">
                                        <span class="count">972</span>
                                    </div>
                                    <small class="text-light text-uppercase font-weight-bold">Actividades</small>
                                    <div class="progress progress-xs mt-3 mb-0 bg-light" style="width: 40%; height: 5px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>


{% endblock main_right %}