{% extends "profesor/base_profesor.html" %}
{% load static %}

{% block main_right %}
{{pk}}
        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Alumnos de {{ curso.nombre }}</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="/dashboard/">Dashboard</a></li>
                            <li><a href="/mis_cursos/">Mis cursos</a></li>
                            <li class="active">Alumnos</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>


{% endblock main_right %}