{% extends 'administrador/base_admin.html' %}
{% load static %}

{% block main_right %}
    <!-- Inicio Cabecera -->
        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Crear Nuevo Alumno</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="/admin_dashboard/">Dashboard</a></li>
                            <li><a href="/editar_alumno/">Editar Alumno</a></li>
                            <li><a href="/borrar_alumno/">Borrar Alumno</a></li>
                            <li class="active">Crear Alumno</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div> <!-- Fin Cabecera -->

    <!-- Inicio Formulario -->
    <form action="" method="POST" class="">
         <div class="col-lg-6 ">
            <div class="card">
              <div class="card-header">Nuevo Alumno</div>
              <div class="card-body card-block">

                    {% csrf_token %}
                    <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon"><i class="fa fa-user"></i></div>
                      <input type="text" id="rut" name="rut" placeholder="11111111-1" class="form-control">
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon"><i class="fa fa-user"></i></div>
                      <input type="text" id="nombre" name="nombre" placeholder="Nombre" class="form-control">
                    </div>
                  </div>

                    <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon"><i class="fa fa-user"></i></div>
                      <input type="text" id="apellido" name="apellido" placeholder="Apellido" class="form-control">
                    </div>
                  </div>
                     <div class="row form-group">
                        <div class="col col-md-3"><label for="file-input" class=" form-control-label">Imagen</label></div>
                        <div class="col-12 col-md-9"><input type="file" id="imagen" name="imagen" class="form-control-file"></div>
                      </div>

                  <div class="form-actions form-group"><button type="submit" class="btn btn-success btn-sm">Registrar</button></div>
              </div>
            </div>
          </div>

        <!-- Seleccion -->
         <div class="col-xs-6 col-sm-6">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Seleccionar Carrera</strong>
                </div>
                <div class="card-body">
                  <select name="select" id="select" class="form-control">
                    <option value="">Selecciones una opción</option>
                    {% for carrera in carreras %}
                        <option value="{{carrera.pk}}">{{carrera.nombre}}</option>
                    {% endfor %}
                  </select>
                </div>
            </div>
        </div>
    </form>


{% endblock main_right %}

{% block extra_script %}

{% endblock extra_script %}