{% extends 'administrador/base_admin.html' %}
{% load static %}

{% block main_right %}
    <!-- Inicio Cabecera -->
        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Editar Alumno Existente</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="/admin_dashboard/">Dashboard</a></li>
                            <li><a href="/crear_alumno/">Crear Alumno</a></li>
                            <li><a href="/borrar_alumno/">Borrar Alumno</a></li>
                            <li class="active">Editar Alumno</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div><!-- Fin Cabecera -->
{% endblock main_right %}
