{% extends 'administrador/base_admin.html' %}
{% load static %}

{% block foot_left %}
<h3 class="menu-title">Extras</h3>
<!-- /.menu-title -->
<li class="menu-item-has-children dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="menu-icon fa ti-panel"></i>Acciones</a>
    <ul class="sub-menu children dropdown-menu">
        <li>
            <i class="menu-icon fa fa-sign-in"></i>
            <a href="/admin_logout/">Logout</a>
        </li>
        <li>
            <i class="menu-icon fa fa-sign-in"></i>
            <a href="#">Register</a>
        </li>
        <li>
            <i class="menu-icon fa fa-paper-plane"></i>
            <a href="#">Forget Pass</a>
        </li>
    </ul>
</li>
{% endblock foot_left %}